<ion-view title="Dashboard">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Movie title">
            </label>
        </form>
        <button id="dashboard-button12" style="font-weight:bold;font-size:12px;border-radius:7px 7px 7px 7px;" class="button button-positive button-large button-block">RECOMMENDATION (HIGHEST RATINGS)</button>
        <button id="dashboard-button13" style="font-weight:bold;font-size:12px;border-radius:7px 7px 7px 7px;" class="button button-calm button-large button-block">RECOMMENDATION (MAJOR RELEVANT)</button>
        <div class="spacer" style="width: 300px; height: 218px;"></div>
        <a ui-sref="profile" id="dashboard-button18" class="button button-balanced  button-block">See Your Profile</a>
    </ion-content>
</ion-view>