<ion-view title="Movie Recommender">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <h4>Welcome to Movie Recommender</h4>
        <div class="spacer" style="width: 283px; height: 14px;"></div>
        <div>
            <p>Welcome to Movie Recommender! If it's your first time using this app, tap the Register button below. If you are a returning user, tap the Login button.</p>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <a ui-sref="register" id="movieRecommender-button3" class="button button-positive  button-block">Register</a>
        <a ui-sref="login" id="movieRecommender-button4" class="button button-positive  button-block">Login</a>
    </ion-content>
</ion-view>