<ion-view title="Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>Username:</h4>
        <h4>Name:</h4>
        <h4>Email:</h4>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select Major</span>
                <select>
                    <option>CS</option>
                    <option>EE</option>
                    <option>ME</option>
                    <option>ISYE</option>
                    <option>Math</option>
                    <option>Phys</option>
                    <option>Chem</option>
                    <option>ChemE</option>
                </select>
            </label>
            <div class="spacer" style="width: 283px; height: 9px;"></div>
            <label class="item item-input">
                <input type="text" placeholder="Add description.">
            </label>
        </form>
        <div class="spacer" style="width: 283px; height: 54px;"></div>
        <a ui-sref="dashboard" id="profile-button19" class="button button-positive  button-block">Save</a>
    </ion-content>
</ion-view>